!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.dll
*.dylib
*.exe
*.exe~
*.iws
*.out
*.so
*.test
*.vsix
.DS_Store
.env
.history/
.idea/
.idea_modules/
.vscode/*
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
go.work
go.work.sum
out/
